{% extends 'base.html' %}
{% load static %}

{% block title %} - Charts{% endblock %}

{% block style %}
    .dot {overflow:hidden;float:left;width:12px;height:12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}
    .dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
    .dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
    .number {font-weight:bold;color:#ee6152;}
    .dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
    .distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
    .distanceInfo .label {display:inline-block;width:50px;}
    .distanceInfo:after {content:none;}
{% endblock %}

{% block content %}

<div class="container" align="center">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <br>
    <div class="container" style="background-color: rgba( 232, 255, 244, 0.7 );">
        <br>
        <h3 style="font-family: 'Binggrae-Bold';"><i style="color: #74D36D;" class="fas fa-road"></i> 오늘의 <span style="color: #74D36D;">산책 경로</span>를 체크해보세요!</h3>
        <div id="map" style="width:100%;height:350px;"></div>
        <p style="font-family: 'Binggrae-Bold'; font-size: 20px; padding-top: 10px;">왼쪽 클릭으로 선을 잇고, 오른쪽 마우스를 클릭으로 선 그리기가 종료됩니다.</p>
        <br>
    </div>
    <hr>
    {% for post in mymy %}
    <div class="container" style="background-color: rgba( 237, 255, 246, 0.7 );">
        <br>
        <h3 style="font-family: 'Binggrae-Bold';"><i style="color: #8A6F24;" class="fas fa-bone"></i> <span style="color: #5AAEFF;">"{{post.names}}"</span> 월 평균 <span style="color: #8A6F24;">사료와 간식량</span></h3>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <p style="font-family: 'Binggrae-Bold'; font-size: 20px; padding-top: 10px;">견종별, 몸무게별 사료량은 모두 상이합니다, 사료 뒷면을 확인해주세요.
        <br>사료를 잘 먹지않는 친구들은 자율배식보다는 정해진 시간에 사료를 급여해주는 것이 좋습니다.</p>
        <br>
    </div>
    <hr>
    <div class="container" style="background-color: rgba( 242, 255, 249, 0.7 );">
        <br>
        <h3 style="font-family: 'Binggrae-Bold';"><i style="color: #74D36D;" class="fas fa-walking"></i> <span style="color: #5AAEFF;">"{{post.names}}"</span> 월 평균 <span style="color: #74D36D;">산책</span>횟수</h3>
        <div id="container4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <p style="font-family: 'Binggrae-Bold'; font-size: 20px; padding-top: 10px;">활동량이 많은 반려견의 경우 전체 평균대 이상을 유지 시켜주시는 것이 가장 좋습니다!
        <br>반려견주 필수항목, 1일 1산책! 잊지말아주세요^^</p><br>
    </div>
    <hr>
    <div class="container" style="background-color: rgba( 247, 255, 251, 0.7 );"><br>
        <h3 style="font-family: 'Binggrae-Bold';"><i style="color: #B2A3C9;" class="fas fa-weight"></i> 등록된 반려견들와 <span style="color: #5AAEFF;">"{{post.names}}"</span> <span style="color: #B2A3C9;">몸무게</span> 비교하기</h3>
        <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <p style="font-family: 'Binggrae-Bold'; font-size: 20px; padding-top: 10px;">자신의 강아지 종과 비교하여 건강상태를 미리 확인해보세요!
        <br>혼종의 경우, 몸집이 비슷한 반려견종과 비교하는 것이 가장 적절합니다.</p>
        <br>
    </div>
    <hr>

    <script type="text/javascript">
        // HighChart 사료 및 간식
        janMf = {% if janM.foodamount__avg == null %} 0 {% else %} {{janM.foodamount__avg}} {% endif %};
        febMf = {% if febM.foodamount__avg == null %} 0 {% else %} {{febM.foodamount__avg}} {% endif %};
        marMf = {% if marM.foodamount__avg == null %} 0 {% else %} {{marM.foodamount__avg}} {% endif %};
        aprMf = {% if aprM.foodamount__avg == null %} 0 {% else %} {{aprM.foodamount__avg}} {% endif %};
        mayMf = {% if mayM.foodamount__avg == null %} 0 {% else %} {{mayM.foodamount__avg}} {% endif %};
        junMf = {% if junM.foodamount__avg == null %} 0 {% else %} {{junM.foodamount__avg}} {% endif %};
        julMf = {% if julM.foodamount__avg == null %} 0 {% else %} {{julM.foodamount__avg}} {% endif %};
        augMf = {% if augM.foodamount__avg == null %} 0 {% else %} {{augM.foodamount__avg}} {% endif %};

        janMs = {% if janM.snackcount__avg == null %} 0 {% else %} {{janM.snackcount__avg}} {% endif %};
        febMs = {% if febM.snackcount__avg == null %} 0 {% else %} {{febM.snackcount__avg}} {% endif %};
        marMs = {% if marM.snackcount__avg == null %} 0 {% else %} {{marM.snackcount__avg}} {% endif %};
        aprMs = {% if aprM.snackcount__avg == null %} 0 {% else %} {{aprM.snackcount__avg}} {% endif %};
        mayMs = {% if mayM.snackcount__avg == null %} 0 {% else %} {{mayM.snackcount__avg}} {% endif %};
        junMs = {% if junM.snackcount__avg == null %} 0 {% else %} {{junM.snackcount__avg}} {% endif %};
        julMs = {% if julM.snackcount__avg == null %} 0 {% else %} {{julM.snackcount__avg}} {% endif %};
        augMs = {% if augM.snackcount__avg == null %} 0 {% else %} {{augM.snackcount__avg}} {% endif %};


        // HighChart 산책
        janMw = {% if  janM.walkcount__avg == null %} 0 {% else %} {{janM.walkcount__avg}} {% endif %};
        febMw = {% if  febM.walkcount__avg == null %} 0 {% else %} {{febM.walkcount__avg}} {% endif %};
        marMw = {% if  marM.walkcount__avg == null %} 0 {% else %} {{marM.walkcount__avg}} {% endif %};
        aprMw = {% if  aprM.walkcount__avg == null %} 0 {% else %} {{aprM.walkcount__avg}} {% endif %};
        mayMw = {% if  mayM.walkcount__avg == null %} 0 {% else %} {{mayM.walkcount__avg}} {% endif %};
        junMw = {% if  junM.walkcount__avg == null %} 0 {% else %} {{junM.walkcount__avg}} {% endif %};
        julMw = {% if  julM.walkcount__avg == null %} 0 {% else %} {{julM.walkcount__avg}} {% endif %};
        augMw = {% if  augM.walkcount__avg == null %} 0 {% else %} {{augM.walkcount__avg}} {% endif %};

        janMwa = {% if  janMA.walkcount__avg == null %} 0 {% else %} {{janMA.walkcount__avg}} {% endif %};
        febMwa = {% if  febMA.walkcount__avg == null %} 0 {% else %} {{febMA.walkcount__avg}} {% endif %};
        marMwa = {% if  marMA.walkcount__avg == null %} 0 {% else %} {{marMA.walkcount__avg}} {% endif %};
        aprMwa = {% if  aprMA.walkcount__avg == null %} 0 {% else %} {{aprMA.walkcount__avg}} {% endif %};
        mayMwa = {% if  mayMA.walkcount__avg == null %} 0 {% else %} {{mayMA.walkcount__avg}} {% endif %};
        junMwa = {% if  junMA.walkcount__avg == null %} 0 {% else %} {{junMA.walkcount__avg}} {% endif %};
        julMwa = {% if  julMA.walkcount__avg == null %} 0 {% else %} {{julMA.walkcount__avg}} {% endif %};
        augMwa = {% if  augMA.walkcount__avg == null %} 0 {% else %} {{augMA.walkcount__avg}} {% endif %};


        // HighChart 몸무게
        mynames = '{{ post.names }}';
        myweight = {{ post.weight }};
        bigAVGw = {{ bigAVG.weight__avg }};
        middleAVGw = {{ middleAVG.weight__avg }};
        smallAVGw = {{ smallAVG.weight__avg }};

        afghanAVGw = {{ afghanAVG.weight__avg }};
        pitbullAVGw = {{ pitbullAVG.weight__avg }};
        bloodAVGw = {{ bloodAVG.weight__avg }};
        chowAVGw = {{ chowAVG.weight__avg }};
        dalmatianAVGw = {{ dalmatianAVG.weight__avg }};
        dutchAVGw = {{ dutchAVG.weight__avg }};
        englishAVGw = {{ englishAVG.weight__avg }};
        gershepherdAVGw = {{ gershepherdAVG.weight__avg }};
        goldadorAVGw = {{ goldadorAVG.weight__avg }};
        goldenAVGw = {{ goldenAVG.weight__avg }};
        daneAVGw = {{ daneAVG.weight__avg }};
        pyreneesAVGw = {{ pyreneesAVG.weight__avg }};
        houndAVGw = {{ houndAVG.weight__avg }};
        samoyedAVGw = {{ samoyedAVG.weight__avg }};
        huskyAVGw = {{ huskyAVG.weight__avg }};
        airedaleAVGw = {{ airedaleAVG.weight__avg }};
        appenzellerAVGw = {{ appenzellerAVG.weight__avg }};
        bulldogAVGw = {{ bulldogAVG.weight__avg }};

        eskimoAVGw = {{ eskimoAVG.weight__avg }};
        cockerAVGw = {{ cockerAVG.weight__avg }};
        corgiAVGw = {{ corgiAVG.weight__avg }};
        borderAVGw = {{ borderAVG.weight__avg }};
        pinscherAVGw = {{ pinscherAVG.weight__avg }};

        australianAVGw = {{ australianAVG.weight__avg }};
        beagleAVGw = {{ beagleAVG.weight__avg }};
        bichonAVGw = {{ bichonAVG.weight__avg }};
        bostonAVGw = {{ bostonAVG.weight__avg }};
        chiAVGw = {{ chiAVG.weight__avg }};
        dachhundAVGw = {{ dachhundAVG.weight__avg }};
        poodleAVGw = {{ poodleAVG.weight__avg }};
        pugAVGw = {{ pugAVG.weight__avg }};
        tzuAVGw = {{ tzuAVG.weight__avg }};
        yorkAVGw = {{ yorkAVG.weight__avg }};
        malteseAVGw = {{ malteseAVG.weight__avg }};
        pomeAVGw = {{ pomeAVG.weight__avg }};


        // 견종별 등록
        afghanAVGc = {{ afghanAVG.species__count }};
        pitbullAVGc = {{ pitbullAVG.species__count }};
        bloodAVGc = {{ bloodAVG.species__count }};
        chowAVGc = {{ chowAVG.species__count }};
        dalmatianAVGc = {{ dalmatianAVG.species__count }};
        dutchAVGc = {{ dutchAVG.species__count }};
        englishAVGc = {{ englishAVG.species__count }};
        gershepherdAVGc = {{ gershepherdAVG.species__count }};
        goldadorAVGc = {{ goldadorAVG.species__count }};
        goldenAVGc = {{ goldenAVG.species__count }};
        daneAVGc = {{ daneAVG.species__count }};
        pyreneesAVGc = {{ pyreneesAVG.species__count }};
        houndAVGc = {{ houndAVG.species__count }};
        samoyedAVGc = {{ samoyedAVG.species__count }};
        huskyAVGc = {{ huskyAVG.species__count }};
        airedaleAVGc = {{ airedaleAVG.species__count }};
        appenzellerAVGc = {{ appenzellerAVG.species__count }};
        bulldogAVGc = {{ bulldogAVG.species__count }};

        eskimoAVGc = {{ eskimoAVG.species__count }};
        cockerAVGc = {{ cockerAVG.species__count }};
        corgiAVGc = {{ corgiAVG.species__count }};
        borderAVGc = {{ borderAVG.species__count }};
        pinscherAVGc = {{ pinscherAVG.species__count }};

        australianAVGc = {{ australianAVG.species__count }};
        beagleAVGc = {{ beagleAVG.species__count }};
        bichonAVGc = {{ bichonAVG.species__count }};
        bostonAVGc = {{ bostonAVG.species__count }};
        chiAVGc = {{ chiAVG.species__count }};
        dachhundAVGc = {{ dachhundAVG.species__count }};
        poodleAVGc = {{ poodleAVG.species__count }};
        pugAVGc = {{ pugAVG.species__count }};
        tzuAVGc = {{ tzuAVG.species__count }};
        yorkAVGc = {{ yorkAVG.species__count }};
        malteseAVGc = {{ malteseAVG.species__count }};
        pomeAVGc = {{ pomeAVG.species__count }};
    </script>

    <script src="{% static 'js/HcFood.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/HcWalk.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/HcWeight.js' %}" type="text/javascript"></script>
    {% endfor %}


    <div class="container" style="background-color: rgba( 252, 255, 254, 0.7 );"><br>
        <h3 style="font-family: 'Binggrae-Bold';"><i style="color: #00D8FF;" class="fas fa-sort-numeric-down"></i> 등록된 <span style="color: #00D8FF;">견종 수</span> 현황</h3>
        <div id="container3" style="min-width: 320px; height: 800px; margin: 0 auto"></div>
    </div>

    <script src="{% static 'js/HcCount.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=044659bb33bec1bbb858b7f51e0bc39a"></script>
    <script src="{% static 'js/rootmap.js' %}" type="text/javascript"></script>

</div>
{% endblock %}