{% extends 'base.html' %}
{% load mathfilters %}

{% block title %} - #{{ tag.name }}{% endblock %}

{% block content %}

<div class="container">
    <br>
    <a href="{% url 'dogs:chart' %}" class="float-right onlyhover" style="text-decoration: none; color: #3ADF00;"><i class="far fa-chart-bar fa-2x"></i><br>차트로 확인하기</a>
    <a href="{% url 'dogs:daily_create' %}" class="float-right onlyhover" style="text-decoration: none; color: #8258FA;"><i class="fas fa-feather fa-2x"></i><br>일기작성&emsp;</a>

    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <h2 align="center" style="color: #5AAEFF;">"#{{ tag.name }}" 태그 검색결과</h2>
    <br>
    <table class="table table-bordered table-striped nanum table-hover" style="border-collapse: separate; border-spacing: 0 10px;">
        <thead>
            <tr style="font-weight: 600; font-family: 'Nanum Gothic', sans-serif;">
                <th width="50">번호</th>
                <th width="100">이름</th>
                <th width="100">산책 횟수</th>
                <th width="100">산책 시간</th>
                <th width="100">사료 배급량</th>
                <th width="100">간식 배급횟수</th>
                <th width="100">태그</th>
                <th width="100">수정한 날짜</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for post in object_list %}
            {% if post.owner.id == request.user.id %}
            <tr style="border-spacing: 10px; font-family: 'Poor Story', cursive;">
                        <td align="right"><a href="{% url 'dogs:daily_detail' pk=post.id %}">{{post.id}}</a></td>
                        <td align="right">{{post.names}}</td>
                        <td align="right">{{post.walkcount}} 회</td>
                        <td align="right">
                            {{post.walktime.hour}}시간 {{post.walktime.minute}}분
                        </td>
                        <td align="right">{{post.foodamount}} gram</td>
                        <td align="right">{{post.snackcount}} 회</td>
                        <td align="right">
                            {% load tagging_tags %}
                            {% tags_for_object post as tags %}
                            {% for tag in tags %}
                                <a href="{% url 'dogs:tagged_object_list_daily' tag.name %}">#{{ tag.name }} </a>
                            {% endfor %}</td>
                        <td align="right">{{post.updated.year}}년 {{post.updated.month}}월 {{post.updated.day}}일</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}