{% extends 'base.html' %}

{% block title %} - #{{ tag.name }}{% endblock %}


{% block content %}

    <div class="row box">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default container-1">
        <br>
        <form style="text-align: center;" class="search-form" action="{% url 'photo:photo_list' %}" method="post">
            {% csrf_token %}
            <input style="opacity: 0.5;" id="search" class="tag-search fas" type="text" name="tag" placeholder=" &#xf002; 검색" pattern="#?[\wㄱ-ㅎ|ㅏ-ㅣ|가-힣]+" title="특수문자, 공백 입력불가" required >
            {# <input type="submit"> - input이 하나일 때는 별도의 submit 없이 엔터로 전송이 가능하다.#}
        </form>
        <br>
        </div>
    </div><br>

    <h2 align="center" style="color: #5AAEFF;">"#{{ tag.name }}" 태그 검색결과</h2>
<br><br>

    {% for post in object_list %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p><img src="{{post.photo.url}}" class="shadows" style="width:100%; border-radius: 20px;"></p>
                <input type="button" id="{{post.id}}"
                   class="like {% if request.user in post.like_user_set.all  %} liked {% endif %}"
                   name="{{ post.id }}" style="Value:hidden;" />
                <a href="{% url 'photo:photo_detail' pk=post.id %}" style="font-size: 12.5px; color: black;"><i class="far fa-comment fa-2x"></i></a>
                <br>
                <p id="count-{{ post.id }}" style="display:inline; padding-bottom: 5px; font-family: 'Nanum Gothic', sans-serif;">좋아요 {{ post.like_count }}개</p>
                <br>
                <p style="margin-top: 5px;"><a style="font-weight: 600; font-family: 'Nanum Gothic', sans-serif;">{{post.author.username}}</a><a style="font-family: 'Poor Story', cursive; font-size: 19px;"> {{post.text|linebreaksbr}}</a>
                    <br>
                    {% load tagging_tags %}
                    {% tags_for_object post as tags %}
                    {% for tag in tags %}
                        <a style="font-family: 'Poor Story', cursive; font-size: 19px;" href="{% url 'photo:tagged_object_list' tag.name %}">#{{ tag.name }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endfor %}
    <br><br>

    <script type="text/javascript">
          ///////////////// 좋니 /////////////////
      $(document).on("click", ".like", function(){
        var pk = $(this).attr('name')
        $.ajax({
          type: "POST",
          url: "{% url 'photo:post_like' %}",
          data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          dataType: "json",

          success: function(response){
            // alert(response.message);
            $("#count-"+pk).html("좋아요 "+response.like_count+"개");
            $('#'+pk).toggleClass('liked');

          },
          error: function(request, response, status, error){
            alert(response);
            window.location.replace("/photo/");
          },
        });
      })
    </script>
{% endblock %}


