{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block style %}

    /* Button new style */
    .raise {
        padding: .3em .3em;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.5);
    }

{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Binggrae-Bold'; font-size: 20px;" align="center">
    <br><br><br>

    <h1>{% trans "Confirm E-mail Address" %}</h1>
    <br><br>
    {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}이메일을 확인해주세요.
        <br>
            <a href="mailto:{{ email }}">{{ email }}</a> 해당 이메일은 <span style="font-size: 24px;">"{{ user_display }}"</span> 사용자의 이메일 입니다.
        <br>
        맞다면 아래 버튼을 클릭해서 인증을 완료해주세요.{% endblocktrans %}</p>

        <br>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
            <button class="raise" type="submit">인증완료</button>
        </form>

    {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</div>
{% endblock %}
