{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container" align="center" style="font-family: 'Binggrae-Bold'; font-size: 17px;">
    <h1>{% trans "Password Reset" %}</h1>
    <br>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>입력하신 이메일로 아이디 정보 및 비밀번호 초기화 링크가 전송되었습니다.<br>
        해당 초기화 링크의 유효기한은 하루 입니다,<br>
        몇 분 후에도 이메일이 도착하지 않는다면 운영자에게 연락해주세요.<br><br>
        spdlqj011@gmail.com</p>
</div>
{% endblock %}
