{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %} - Password{% endblock %}

{% block style %}

    /* 반투명 배경사진 */
    .my-container {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .my-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.7;
        background-image: url('https://img3.goodfon.com/wallpaper/nbig/a/8f/nastroeniya-klyuchi-klyuch-vetka.jpg');
        background-repeat: no-repeat;
        background-position: 0px -55px;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .my-container div {
        z-index: 2;
        position: relative;

    }


    /* Button new style */
    .raise {
        padding: .3em .3em;
        border-radius: 5px;
    }

{% endblock %}

{% block content %}
<br><br>
    <div class="my-container">
        <div class="container" style="font-family: 'Binggrae-Bold'; font-size:17px; color: #000; z-index: 2;" align="center">
            <br>
            <h1>비밀번호 변경</h1>

            <div class="row" align="right" style="position: absolute; z-index: -10; width: 100%;">
                <div class="col">
                    <br><br><br>
                    {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-error" style="width: 20%; outline: none; box-shadow: 0 0 0 2px #f00; margin-right: 100px;">
                                  <p style="text-align: center;"><strong>{{ error|escape }}</strong></p>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-error" style="width: 20%; outline: none; box-shadow: 0 0 0 2px #f00; margin-right: 100px;">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                    {% endif %}
                </div>
            </div>

            <br>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <p><label for="id_idid" style="font-size: 15px;">아이디</label><br>
                    <input class="roundop" value="{{user.get_username}}" id="id_idid" disabled></p>
                <p><label for="mail_mail" style="font-size: 15px;">이메일</label><br>
                    <input class="roundop" value="{{user.email}}" id="mail_mail" disabled></p>
                <hr>
                <p><label for="id_oldpassword" style="font-size: 15px;">현재 비밀번호</label><br>
                    <input class="roundop" type="password" name="oldpassword" placeholder="PASSWORD" required="" id="id_oldpassword" autocomplete="off" style="font-family: ''; font-weight: bold; padding: .2em .3em;"></p>
                <p><label for="id_password1" style="font-size: 15px;">새 비밀번호</label><br>
                    <input class="roundop" type="password" name="password1" placeholder="최소 8자 이상, 문자 포함" required="" id="id_password1" style="font-family: ''; font-weight: bold; padding: .2em .3em;"></p>
                <p><label for="id_password2" style="font-size: 15px;">새 비밀번호 (재입력)</label><br>
                    <input class="roundop" type="password" name="password2" placeholder="다시 입력해주세요" required="" id="id_password2" style="font-family: ''; font-weight: bold; padding: .2em .3em;"></p>
                <br>
                <button class="raise" type="submit" name="action">비밀번호 변경하기</button>
            </form>
            <br>
            {% for message in messages %}
                {% if 'success' in message.tags %}
                <div class="alert alert-warning alert-dismissible fade show roundop" role="alert" style="width: 40%; position: fixed; left: 30%;">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}

        <!--        {% if messages %}-->
        <!--            {% for message in messages %}-->
        <!--            <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
        <!--                      <strong>{{message}}</strong>-->
        <!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--                        <span aria-hidden="true">&times;</span>-->
        <!--                    </button>-->
        <!--            </div>-->
        <!--            {% endfor %}-->
        <!--        {% endif %}-->
        </div>
        <br><br>
    </div>
{% endblock %}
