{% extends 'shopbase.html' %}
{% load humanize %}
{% block title %} - SHOP{% endblock %}

{% block style %}
    .card {
     overflow: hidden;
    }
    .card {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        -webkit-transition:.3s;
        -moz-transition:.3s;
        -ms-transition:.3s;
        -o-transition:.3s;
        transition:.3s;
    }
    .card:hover {
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
        transform:scale(1.05);
    }
{% endblock %}

{% block content %}
    <br>
    <div class="row" style="font-family: 'SeoulNamsanM'; font-size: 16px;">

        <div class="col-2">

            <div class="list-group">
                <a href="/shop" class="roundop list-group-item {% if not current_category %}
                                    active{% endif %}" style="font-weight: 600;">All</a>
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" class="roundop list-group-item
                            {% if current_category.slug == c.slug %}active{% endif %}" style="font-weight: 600; text-decoration: none;">{{ c.name }}</a>
                {% endfor %}
                <br>
                <a href="/shop/my/orders/" class="roundop list-group-item" style="font-family: 'Binggrae-Bold'; text-align: center; text-decoration: none;">주문내역</a>
            </div>



        </div>

        <div class="col">

            <div class="alert alert-info" role="alert">
                {% if current_category %} {{ current_category.name }} {% else %}All Products{% endif %}
            </div>

            <div class="row">
                {% for product in products %}
                    <div class="col-4" style="margin-bottom: 15px;">
                        <div class="card roundop shadows" style="border-radius: 10px;">
                            <a style="color: #484848; text-decoration: none;" href="{{ product.get_absolute_url }}">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image" style="border-radius: 10px;" />

                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: 600;">{{ product.name }}</h5>

                                    <p class="card-text">{{ product.meta_description|linebreaks }}</p>
                                    <div align="center">
                                    <span class="badge badge-secondary" style="font-size: 18px; letter-spacing: 1px;">
                                                        {{ product.price|floatformat:"0"|intcomma }}원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
    <br>

{% endblock %}